Repository thierrymichel/vue-svg-sprite: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn lint

.lintstagedrc:

{
  "src/**/*.ts": ["prettier --write", "yarn lint"],
  "*.{json,md}": ["prettier --write"]
}

ci: :green_heart: run jest with yarn
  package.json
Due: prettier --write

ci: :green_heart: install dependencies
  .github/workflows/workflow.yml
  package.json
Due: prettier --write

build: :wrench: ts-jest/config mismatch
  tsconfig.json
Due: prettier --write

ci: :green_heart: add github token
  .github/workflows/workflow.yml
Due: none

test: :wrench: add missing TS lib
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  f7f95c60d6b1b9c23481cf054a2c0cf5c7eeaaff
Due: none

fix: :wrench: remove unused scripts
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f789e31e89b57296c3ec307ff67670a9d94d6fdc
Due: none

fix: :green_heart: add git release
  .github/workflows/release.yml
  commitlint.config.js
  release.config.js
Due: none

fix: :green_heart: add changelog + missing deps
  package.json
  release.config.js
  yarn.lock
Due: prettier --write

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --write

Notes added by 'git notes add'
  a2578ccb484725cf9a4ba64ca1be5d3387592702
Due: none

fix: :green_heart: update changelog
  .markdownlint.json
  CHANGELOG.md
  release.config.js
Due: prettier --write

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4cfa5beb5511a08a771cc99dc1756dc3f13b52e0
Due: none

ci: :construction_worker: add codeql analysis
  .github/workflows/codeql-analysis.yml
Due: none

docs: :memo: remove CircleCI badge
  README.md
Due: prettier --write

fix: :recycle: use render function
  src/component.ts
Due: prettier --write, yarn lint

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  783204658df5535d809c49e8c2bef92a9a9d0ff9
Due: none

fix: :bug: refactor default options
  .github/workflows/release.yml
  __tests__/component.spec.ts
  __tests__/directive.spec.ts
  src/component.ts
  src/directive.ts
  src/utils.ts
Due: prettier --write, yarn lint

chore(release): 2.0.5 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6afc836200c869c603cdfb5774883630711a919b
Due: none

fix: :bug: fix directive without any prop
  __tests__/directive.spec.ts
  src/directive.ts
Due: prettier --write, yarn lint

chore(release): 2.0.6 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  0bba497183039166c439b43412f280d22f41eb04
Due: none

feat: :recycle: SSR friendly
  README.md
  __tests__/directive.spec.ts
  src/directive.ts
Due: prettier --write, yarn lint

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  feb086bd43a78a91a164e3b0b30809e496cb0609
Due: none

fix: :bug: keep url attribute for directive
  __tests__/directive.spec.ts
  src/directive.ts
Due: prettier --write, yarn lint

chore(release): 2.1.1 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  14580a5d43399aef8c3ae07feb03d195ca76a4e4
Due: none

feat: :zap: mark module as tree shakable
  README.md
  package.json
Due: prettier --write

chore(release): 2.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9aec123b0f3d21b97a684504acb3d6618f198bb7
Due: none

Added an url example for use with vue-cli
  README.md
Due: prettier --write

Update view
  README.md
Due: prettier --write

docs: :memo: update vue-cli/webpack example
  README.md
Due: prettier --write

docs: :busts_in_silhouette: add contributor
  README.md
Due: prettier --write

build: :arrow_up: upgrade deps
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --write
